@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    font-family: 'PT Sans','lato', Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #36454f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 3.5rem;
    max-width: 70rem;
}
.quote {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.author {
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1px;
}
button {
    position: fixed;
    bottom: 200px;
    border: none;
    outline: none;
    padding: .6em .8em;
    font-size: 1.5em;
    border-radius: 8px;
    background-color: FFFFF0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}
button:active {
    transform: scale(.98);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 22px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}